.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-family: "Inter", Arial, sans-serif;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/Vector.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 800px) {
  .card__list {
    width: 100%;
  }
}
