.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 700px 41px 0;
}

@media screen and (max-width: 1280px) {
  .header {
    margin: 0 auto;
    padding-left: 45px;
  }

  .header__image {
    max-width: 880px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    margin: 0;
  }
}

@media screen and (max-width: 620px) {
  .header {
    padding: 28px 0 32px 27px;
    margin: 0;
  }

  .header__image {
    max-width: 126px;
    min-height: 24px;
  }
}
