.page {
  font-family: Inter, Helvetica, sans-serif;
  background-color: black;
  color: #ffffff;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 45px 200px 0 200px;
}

@media screen and (max-width: 1400x) {
  .page__content {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 1280px) {
  .page__content {
    padding-right: 0;
    padding-left: 0;
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 800px) {
  .page__content {
    margin: 0;
  }
}
@media screen and (max-width: 620px) {
  .page__content {
    padding: 0 19px;
    margin: auto;
  }
}
