.page {
  font-family: Inter, Helvetica, sans-serif;
  background-color: black;
  color: #ffffff;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 200px 0 200px;
}

@media screen and (max-width: 1100px) {
  .page__content {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}
